/* ==========================================================================
   CSS Variables
   ========================================================================== */
:root {
  /* colors */
  --color-primary: #2e298a;
  --color-background: #fcfaf8;
  --color-text: #2e298a;
  --color-text-light: #fff;
  --color-border: rgba(252, 250, 248, 0.5);
  --color-card-background: #fcfaf8;

  /* gradients */
  --gradient-background: linear-gradient(60deg, rgb(31, 31, 255), aliceblue);
  --gradient-card: linear-gradient(
    102deg,
    rgba(252, 251, 248, 0.7) 50%,
    rgba(252, 251, 248, 0.5) 75%
  );
  --gradient-card-hover: linear-gradient(
    102deg,
    rgba(252, 251, 248, 0.9) 20%,
    rgba(252, 251, 248, 0.6) 30%
  );

  /* spacing variables */
  --spacing-xs: 12px;
  --spacing-sm: 20px;
  --spacing-md: 24px;
  --spacing-lg: 40px;
  --spacing-xl: 96px;

  /* border radius */
  --border-radius-sm: 15px;
  --border-radius-md: 25px;
  --border-radius-lg: 50px;

  /* typography */
  --font-family-primary: "Clash Grotesk", sans-serif;
  --font-size-sm: 20px;
  --font-size-md: 28px;

  /* animations */
  --transition-default: 0.2s ease-out;
  --animation-spin: spin 5s linear infinite;

  /* layout */
  --container-padding: 24px;
  --container-margin: 20%;
}
