.acc-nav-bar {
  display: flex;
  background-color: blue;
  position: sticky;
  top: 0; /* ensures the nav bar sticks to the top */
  z-index: 100;
  width: fit-content;
  max-width: 50%;
  height: fit-content;
  justify-content: center;
  align-self: center;
  justify-self: center;
}

.acc-nav-links {
  color: white;
  display: flex;
  flex-direction: row;
  gap: 40px;
  font-size: 24px;
  padding: 20px;
  padding-left: 40px;
  padding-right: 40px;
}

.acc-nav-links a:link,
.acc-nav-links a:visited {
  color: white;
  text-decoration: none;
}

.acc-nav-links a:hover {
  color: lightgray;
}

.title-section {
  display: flex;
  flex-direction: column;
  gap: 10px;
  min-height: fit-content;
  width: 100vw;
  align-items: center;
  justify-content: center;
}

.title-section {
  height: fit-content;
  max-width: 100vw;
  padding-top: 120px;
  padding-bottom: 60px;
  font-size: 28px;
  padding-left: 0px;
}

.intro-section,
.io-section,
.redesign-section,
.summary-section {
  height: fit-content;
  max-width: 100vw;
  padding-top: 120px;
  padding-bottom: 60px;
  font-size: 28px;
  padding-left: 60px;
}

.intro-section {
  background-color: #3d3c56;
  color: white;
  height: fit-content;
}

.intro-text {
  background-color: #d7d6e2;
  color: rgb(0, 0, 0);
  padding: 40px;
  padding-right: 80px;

  width: fit-content;
  margin-top: 40px;
  font-weight: lighter;
}

.intro-text ul {
  padding-left: 30px;
  padding-top: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.io-section {
  background-color: #d7d6e2;
  color: black;
  height: fit-content;
}

.io-text {
  background-color: #615cbf;
  color: white;
  padding: 40px;
  padding-right: 80px;

  width: 100%;
  margin-top: 40px;
  font-weight: lighter;
}

table {
  width: 100%;
  border-collapse: collapse; /* Ensure borders are collapsed */
  background-color: white; /* Set background color to white */
  color: black;
}

table th,
table td {
  border: 2px solid #615cbf; /* Set border color to black */
  padding: 20px; /* Add padding inside each cell */
}

table th {
  background-color: #d7d6e2; /* Optional: Add a different background color for header cells */
  font-weight: normal;
  text-align: center; /* Align text to the left */
}

table td {
  text-align: left; /* Align text to the left */
}

.redesign-section {
  background-color: #615cbf;
  color: white;
}

.summary-section {
  background-color: #1f238b;
  color: white;
}

footer {
  font-weight: bold;
}

footer a:link,
footer a:visited {
  text-decoration: none;
  color: black;
}

footer a:hover {
  color: blue;
}
