.acc-nav-bar {
  display: flex;
  background-color: blue;
  position: sticky;
  top: 0; /* ensures the nav bar sticks to the top */
  z-index: 100;
  width: fit-content;
  max-width: 50%;
  height: fit-content;
  justify-content: center;
  align-self: center;
  justify-self: center;
}

.acc-nav-links {
  color: white;
  display: flex;
  flex-direction: row;
  gap: 40px;
  font-size: 24px;
  padding: 20px;
  padding-left: 40px;
  padding-right: 40px;
}

.acc-nav-links a:link,
.acc-nav-links a:visited {
  color: white;
  text-decoration: none;
}

.acc-nav-links a:hover {
  color: lightgray;
}

.title-section {
  background-color: white;
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100vw;
  height: fit-content;
  align-items: center;
  justify-content: center;
  justify-self: center;
  align-self: center;
  padding-top: 60px;
  padding-bottom: 60px;
  font-size: 28px;
}

.intro-section,
.io-section,
.redesign-section,
.summary-section {
  height: fit-content;
  max-width: 100vw;
  padding-top: 120px;
  padding-bottom: 120px;
  font-size: 28px;
}

.intro-section {
  background-color: #3d3c56;
  color: white;
  height: fit-content;
  padding-left: 120px;
}

.intro-text {
  background-color: #d7d6e2;
  color: rgb(0, 0, 0);
  padding-left: 70px;
  padding-right: 120px;
  padding-top: 70px;
  padding-bottom: 70px;

  width: fit-content;
  margin-top: 40px;
  font-weight: lighter;
  text-align: justify;
}

.intro-text ul {
  padding-left: 30px;
  padding-top: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.io-section {
  background-color: #d7d6e2;
  color: black;
  height: fit-content;
  padding-right: 120px;
}

.io-section-title {
  padding-left: 120px;
}

.io-text {
  background-color: #615cbf;
  color: white;
  padding-left: 120px;
  padding-right: 70px;
  padding-top: 70px;
  padding-bottom: 70px;
  width: 100%;
  margin-top: 40px;
  font-weight: lighter;
  text-align: justify;
}

table {
  width: 100%;
  border-collapse: collapse;
  background-color: white;
  color: black;
}

table th,
table td {
  border: 2px solid #615cbf;
  padding: 30px;
  font-size: 24px;
}

table th {
  background-color: #d7d6e2;
  font-weight: normal;
  text-align: center;
}

table td {
  text-align: left;
}

.sims-io-section,
.ticket-io-section,
.brown-io-section {
  background-color: #d7d6e2;
  color: black;
  display: flex;
  flex-direction: row;
  padding: 40px;
  gap: 40px;
  font-size: 24px;
}

.sims-io-section img {
  width: 20%;
  height: auto;
  object-fit: contain;
}

.sims-io-section-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.ticket-io-section img,
.brown-io-section img {
  width: 40%;
  height: auto;
  object-fit: contain;
}

.redesign-section {
  background-color: #615cbf;
  color: white;
  padding-left: 120px;
}

.redesign-text {
  background-color: #1f238b;
  color: white;
  padding-left: 70px;
  padding-right: 120px;
  padding-top: 70px;
  padding-bottom: 70px;

  width: fit-content;
  margin-top: 40px;
  font-weight: lighter;
  text-align: justify;
}

.mouse-state-init, 
.key-state-init {
  background-color: white;
  color: black;
  display: flex;
}

.mouse-state-init, 
.key-state-init p {
  background-color: white;
  color: black;
  display: flex;
  align-items: center;
  padding-left: 40px;
}

.key-state-init img, 
.mouse-state-init img {
    width: 50%;
  height: auto;
}

.summary-section {
  background-color: #615cbf;
  color: white;
  padding-left: 120px;
}

footer {
  font-weight: bold;
}

footer a:link,
footer a:visited {
  text-decoration: none;
  color: black;
}

footer a:hover {
  color: blue;
}
