header {
  background-color: #ffffff;
  padding-left: 60px;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: left;
}

footer {
  background-color: white;
  padding: 20px;
  text-align: center;
}

.about-section {
  background: linear-gradient(60deg, rgb(0, 0, 255), white);
  /* background: blue; */
  height: 100vh;
  max-width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-box {
  background-color: white;
  border-radius: 0px;
  z-index: 100;
  width: fit-content;
  height: fit-content;
  padding: 20px;
  margin: 60px;
  display: flex;
  flex-direction: row;
  position: absolute;
  justify-content: center;
  align-items: center;
  top: 25%;
  opacity: 0.75;
  user-select: none;
}

.about-text {
  font-size: 36px;
  /* color: rgb(63, 26, 228); */
  color: blue;
  margin: 20px;
  padding-right: 90px;
}

.project-section {
  background: green;
  color: white;
  padding: 10px;
}

.contact-section {
  background-color: red;
  color: white;
  padding: 10px;
}

:root {
  --color-bg1: rgb(0, 0, 162);
  --color-bg2: rgb(159, 172, 221);
  --color1: 255, 255, 255;
  --color2: 221, 74, 255;
  --color3: 100, 220, 255;
  --color4: 200, 50, 50;
  --color5: 180, 180, 50;
  --color6: 18, 113, 255;
  --color-blue: 0, 0, 255;
  --color-interactive: 255, 255, 255;
  --color-interactive1: 140, 100, 255;
  --circle-size: 100%;
  --blending: hard-light;
}

* {
  box-sizing: border-box;
}

@keyframes moveInCircle {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes moveVertical {
  0% {
    transform: translateY(-50%);
  }
  50% {
    transform: translateY(50%);
  }
  100% {
    transform: translateY(-50%);
  }
}

@keyframes moveHorizontal {
  0% {
    transform: translateX(-50%) translateY(-10%);
  }
  50% {
    transform: translateX(50%) translateY(10%);
  }
  100% {
    transform: translateX(-50%) translateY(-10%);
  }
}

.gradient-bg {
  color: white;
  padding: 90px;
  height: 100%;
  width: 100%;
  position: absolute;
  overflow: hidden;
}

.gradient-container {
  filter: url(#goo) blur(60px);
  width: 100%;
  height: 100%;
}

svg {
  display: none;
}

.g1,
.g2,
.g3,
.g4,
.g5,
.g6,
.g7 {
  position: absolute;
  background: radial-gradient(
      circle at center,
      rgba(var(--color1), 0.8) 0,
      rgba(var(--color1), 0) 65%
    )
    no-repeat;
  mix-blend-mode: var(--blending);
  width: var(--circle-size);
  height: var(--circle-size);
  opacity: 1;
}

.g1 {
  /* top: calc(50% - var(--circle-size) / 2);
  left: calc(50% - var(--circle-size) / 2); */
  /* animation: moveVertical 20s ease infinite; */
  animation: moveVertical 5s ease infinite;
}

.g2 {
  /* top: calc(50% - var(--circle-size) / 2);
  right: calc(50% - var(--circle-size) / 2); */
  transform-origin: calc(50% - 400px);
  /* animation: moveInCircle 30s reverse infinite; */
  animation: moveInCircle 5s reverse infinite;
}

.g3 {
  /* top: calc(50% - var(--circle-size) / 2 + 200px);
  left: calc(50% - var(--circle-size) / 2 - 500px); */
  transform-origin: calc(50% + 400px);
  animation: moveInCircle 10s linear infinite;
}

.g4 {
  /* top: calc(50% - var(--circle-size) / 2);
  left: calc(50% - var(--circle-size) / 2); */
  transform-origin: calc(50% - 200px);
  animation: moveHorizontal 20s ease infinite;
  opacity: 0.7;
}

.g5 {
  /* width: calc(var(--circle-size) * 2);
  height: calc(var(--circle-size) * 2); */
  /* top: calc(50% - var(--circle-size));
  left: calc(50% - var(--circle-size)); */
  transform-origin: calc(50% - 800px) calc(50% + 200px);
  animation: moveInCircle 40s ease infinite;
}

.g6 {
  /* top: calc(50% - var(--circle-size) / 2);
  left: calc(50% - var(--circle-size) / 2 + 900px); */
  transform-origin: calc(50% - 600px);
  animation: moveInCircle 10s linear infinite;
}

.g7 {
  /* top: calc(50% - var(--circle-size) / 2 + 300px);
  left: calc(50% - var(--circle-size) / 2 - 700px); */
  transform-origin: calc(50% - 700px);
  animation: moveInCircle 20s linear infinite;
}

.interaction {
  position: absolute;
  background: radial-gradient(
      circle at center,
      rgba(var(--color-interactive), 0.8) 0,
      rgba(var(--color-interactive), 0) 50%
    )
    no-repeat;
  mix-blend-mode: var(--blending);
  width: 100%;
  height: 100%;
  top: -50%;
  left: -50%;
  opacity: 0.7;
}
