h2 {
  text-decoration: underline;
}

.acc-nav-bar-persona {
  display: flex;
  background-color: red;
  position: sticky;
  top: 0; /* ensures the nav bar sticks to the top */
  z-index: 100;
  width: fit-content;
  max-width: 50%;
  height: fit-content;
  justify-content: center;
  align-self: center;
  justify-self: center;
  /* object-fit: contain; */
}

.persona-storyboard-container {
  width: 100vw;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 28px;
  font-family: Arial, Helvetica, sans-serif;
}

.title-container {
  width: 100%;
  height: 100vh;
  color: black;
  display: flex;
  flex-direction: row;
  padding: 60px;
  text-align: justify;
  align-items: center;
  background-color: white;
  gap: 60px;
}

.title-text {
  width: 70%;
  height: 40%;
  font-size: 28px;
  color: white;
  background-color: red;
  padding: 40px;
  text-align: left;
  justify-content: center;
  align-content: center;
  gap: 20px;
  display: flex;
  flex-direction: column;
}

.title-container img {
  width: 30%;
  height: 40%;
  background-color: red;
  padding: 0px;
  object-fit: contain;
}

.intro-container {
  width: 100%;
  height: fit-content;
  color: white;
  background-color: red;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  padding: 120px;
  gap: 60px;
  text-align: justify;
}

.preparation-container {
  width: 100%;
  height: fit-content;
  color: black;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  padding: 120px;
  gap: 60px;
  text-align: justify;
}

.preparation-container-images {
  display: flex;
  flex-direction: row;
  height: auto;
  gap: 40px;
  justify-content: center;
  width: 100%;
  height: auto;
  background-color: white;
  text-align: left;
}

.preparation-container-images img {
  width: 25%;
  height: auto;
  object-fit: contain;
}

.component-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 30px;
  background-color: white;
  padding: 20px;
}

.component-list li {
  margin-left: 25px;
  padding-bottom: 5px;
}

.persona-container {
  width: 100%;
  height: fit-content;
  color: black;
  background-color: #fdca3e;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  padding: 120px;
  gap: 40px;
  text-align: justify;
}

.observations-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 30px;
  background-color: white;
  padding: 40px;
}

.observations-section li {
  margin-left: 30px;
  padding-bottom: 5px;
}

.interview-insights {
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  align-items: left;
  background-color: white;
  padding: 40px;
}

.persona-image-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: white;
}

.parent-persona {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  padding: 40px;
  gap: 40px;
  height: 100%;
}

.older-persona {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  padding: 40px;
  gap: 40px;
  height: 100%;
}

.storyboard-container {
  width: 100%;
  height: fit-content;
  color: black;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  padding: 120px;
  gap: 40px;
  text-align: justify;
}

.storyboard-images {
  width: 70%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;

  gap: 40px;
  background-color: white;
  text-align: left;
}

.conclusion-container {
  width: 100%;
  height: fit-content;
  color: white;
  background-color: red;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  padding: 120px;
  gap: 40px;
  text-align: justify;
}

.conclusion-container a {
  color: white;
  text-decoration: underline;
}
