.project-card {
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  gap: 10px;
  align-self: stretch;
  width: 100%;
  position: relative;
  overflow: visible;
}

.project-card-image {
  width: 30%;
  min-width: 200px;
  position: relative;
  overflow: hidden;
  z-index: 100;

  border-radius: 25px 0px 0px 25px;
  /* background: rgba(252, 251, 248, 0.75); gradient background*/

  background-color: var(--cream, #fcfaf8);
  border: 1px solid var(--navy, #2e298a);
}

.project-card-image img {
  position: absolute; /* Takes image out of document flow yet still contained in the div */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: center;
}

.project-card-content {
  display: flex;
  padding: 30px 28px 24px 28px;
  flex-direction: column;
  align-items: flex-start;
  gap: 30px;
  flex: 1; /*Let the content take the remaining space*/
  z-index: 100;

  border-radius: 0px 25px 25px 0px;
  border: 1px solid var(--navy, #2e298a);
  background: rgba(252, 251, 248, 1);
}

.project-card-title {
  color: #000;

  font-family: "Clash Grotesk";
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-decoration-line: underline;
  text-decoration-style: solid;
  text-decoration-skip-ink: auto;
  text-decoration-thickness: auto;
  text-underline-offset: auto;
  text-underline-position: from-font;
}

.project-card-title a:visited {
  color: #000;
}

.project-card-title a:hover img {
  transform: translate(5px, -5px);
  transition: transform 0.2s ease-in-out;
}

.project-card-title img {
  filter: brightness(0); /* This turns it black */
}

.project-card-text {
  color: #000;

  font-family: "Helvetica Neue";
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.project-card-tags {
  display: flex;
  align-items: flex-start;
  gap: 12px;
}

.project-card-tag {
  display: flex;
  padding: 10px 24px;
  justify-content: center;
  align-items: center;
  gap: 10px;

  border-radius: 15px;
  background: var(--navy, #2e298a);
  color: #fff;

  font-family: "Clash Grotesk";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.project-card-blue-blur {
  width: 588px;
  height: 250px;

  position: absolute;
  right: -20px;
  top: 0;

  background-color: #726EBF;;
  filter: blur(125px);
}

.project-card.image-on-right {
  flex-direction: row-reverse;
}

.project-card.image-on-right .project-card-image {
  border-radius: 0px 25px 25px 0px;
}

.project-card.image-on-right .project-card-content {
  border-radius: 25px 0px 0px 25px;
}

.project-card.image-on-right .project-card-blue-blur {
  right: auto; /* Remove right positioning */
  left: -20px; /* Position on left side instead */
}
