@import url("https://fonts.googleapis.com/css2?family=Righteous&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");

.tonys-big-cheese-pizza-homepage {
  background-color: #6f1212;
  max-width: 100vw;
}

.tonys-big-cheese-pizza-homepage h1,
h2,
h3,
h4,
h5,
h6,
a {
  font-family: "Righteous", cursive;
  text-decoration: none;
}

.tonys-big-cheese-pizza-homepage p {
  font-family: "Montserrat", sans-serif;
}

.tonys-big-cheese-pizza-homepage h1 {
  font-size: 36px;
}

.landing-section {
  background-color: rgb(255, 255, 255);
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;

  width: 100vw;
  height: fit-content;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 70px;

  padding-left: 100px;
  padding-right: 100px;
  padding-top: 15px;
  padding-bottom: 50px;
}

.tonys-nav-bar {
  display: flex;
  flex-direction: row;
  gap: 50px;
}

.tonys-nav-bar a {
  font-size: 24px;
  text-decoration: none;

  color: #793636;
}

.tonys-pic-and-text {
  display: flex;
  flex-direction: row;
  /* FIXME: wrap here? */
  gap: 50px;
}

.tonys-pic-and-text img {
  width: 30%;
  height: 100%;
  object-fit: fill;

  border-radius: 25px;
}

.tonys-pizza-text {
  display: flex;
  flex-direction: column;
  gap: 20px;

  width: 70%;

  font-size: 20px;
}

.landing-pizza-title {
  display: flex;
  flex-direction: column;
  gap: 5px;

  color: #793636;
}

.tonys-call-to-action {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 22px;

  font-size: 20px;
}

.tonys-call-to-action button {
  background-color: #c60a0a;
  color: white;

  border: none;
  border-radius: 15px;

  padding-left: 36px;
  padding-right: 36px;
  padding-top: 15px;
  padding-bottom: 15px;

  font-size: 24px;
}

.menu-section {
  display: flex;
  flex-direction: wrap;
  gap: 50px;

  margin-left: 100px;
  margin-right: 100px;
  margin-top: 75px;

  color: white;
}

.menu-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;

  text-align: justify;
  font-size: 24px;
}

.menu-text button {
  background-color: #ead86f;
  color: black;

  border: none;
  border-radius: 15px;

  padding-left: 36px;
  padding-right: 36px;
  padding-top: 15px;
  padding-bottom: 15px;

  font-size: 24px;
}

.menu-photos {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 200px;
  gap: 15px;
  justify-content: center;
  align-content: center;
}

.menu-photos img {
  width: 200px;
  height: 200px;

  border-radius: 25px;
}

.location-and-hours {
  display: flex;
  flex-direction: wrap;
  gap: 50px;

  margin-left: 100px;
  margin-right: 100px;
  margin-top: 75px;

  color: white;

  font-size: 24px;
}

.location-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;

  width: 50%;
}

.location-img {
  width: 100%;
}

.location-content img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  object-position: center;

  border-radius: 25px;
}

.hours-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;

  width: 50%;
}

.structured-hours {
  display: flex;
  flex-direction: row;
  gap: 50px;
}

.about-section {
  background-color: white;
  border-radius: 50px;

  margin-left: 100px;
  margin-right: 100px;
  margin-top: 75px;

  padding-left: 100px;
  padding-right: 100px;
  padding-bottom: 100px;
  padding-top: 50px;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;

  font-size: 24px;
}

.about-section h2 {
  color: #c60a0a;
}

.tonys-contact-section {
  background-color: white;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;

  font-size: 24px;

  margin-top: 75px;

  padding-top: 50px;
  padding-bottom: 50px;
  padding-left: 100px;
  padding-right: 100px;

  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  gap: 30px;
}

.contact-tonys-form {
  background-color: red;
}

.tonys-contact-section form {
  font-family: "Montserrat", sans-serif;

  background-color: #6f1212;
  color: white;

  border-radius: 50px;

  padding-left: 100px;
  padding-right: 100px;
  padding-top: 50px;
  padding-bottom: 50px;

  width: 100%;

  display: flex;
  flex-direction: column;
  gap: 25px;
}

.tonys-contact-section input, textarea {
    border-radius: 15px;
    padding: 15px;

    font-size: 20px;
    max-width: 100%;
    min-width: 100%;
}

.tonys-contact-section form button {
  background-color: white;
  color: black;
}

.tonys-contact-section button {
  background-color: black;
  color: white;

  border: none;
  border-radius: 15px;

  padding-left: 36px;
  padding-right: 36px;
  padding-top: 15px;
  padding-bottom: 15px;

  font-size: 20px;

  width: 20%;

  align-self: center;
}
