/* ==========================================================================
   CSS Variables
   ========================================================================== */
:root {
  /* colors */
  --color-primary: #2e298a;
  --color-background: #fcfaf8;
  --color-text: #2e298a;
  --color-text-light: #fff;
  --color-border: rgba(252, 250, 248, 0.5);
  --color-card-background: #fcfaf8;

  /* gradients */
  --gradient-background: linear-gradient(60deg, rgb(31, 31, 255), aliceblue);
  --gradient-card: linear-gradient(
    102deg,
    rgba(252, 251, 248, 0.7) 50%,
    rgba(252, 251, 248, 0.5) 75%
  );
  --gradient-card-hover: linear-gradient(
    102deg,
    rgba(252, 251, 248, 0.9) 20%,
    rgba(252, 251, 248, 0.6) 30%
  );

  /* spacing variables */
  --spacing-xs: 12px;
  --spacing-sm: 20px;
  --spacing-md: 24px;
  --spacing-lg: 40px;
  --spacing-xl: 64px;

  /* border radius */
  --border-radius-sm: 15px;
  --border-radius-md: 25px;
  --border-radius-lg: 50px;

  /* typography */
  --font-family-primary: "Clash Grotesk", sans-serif;
  --font-size-xs: 16px;
  --font-size-sm: 20px;
  --font-size-md: 24px;
  --font-size-lg: 28px;
  --font-size-title: 36px;
  /* animations */
  --transition-default: 0.2s ease-out;
  --animation-spin: spin 5s linear infinite;
  --animation-hithere: hithere 1s ease infinite;

  /* layout */
  --container-padding: 24px;
  --container-margin: 20%;
}

@keyframes hithere {
  30% {
    transform: scale(1.1);
  }
  40%,
  60% {
    transform: rotate(-20deg) scale(1.2);
  }
  50% {
    transform: rotate(20deg) scale(1.2);
  }
  70% {
    transform: rotate(0deg) scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}
